<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multimedia 3 – Videos y Audios</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
    <h1>Multimedia 3 – Videos MP4 y Audios</h1>

    <h2>Videos</h2>
    <video src="../statics/video1.mp4" width="400" controls></video>
    <video src="../statics/video2.mp4" width="400" controls></video>
    <video src="../statics/video3.mp4" width="400" controls></video>

    <h2>Audios</h2>
    <audio controls src="../statics/audio1.mp3"></audio>
    <audio controls src="../statics/audio2.mp3"></audio>
    <audio controls src="../statics/audio3.mp3"></audio>

    <br><a href="../index.html" class="btn btn-normal">Volver</a>

    <footer style="text-align:center; margin-top:40px; color:#555;">
        Desarrollado por Magali Gonzalez
    </footer>
    
</body>
</html>


