<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multimedia 1 – Mapas</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
    <h1>Multimedia 1 – Mapas</h1>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18..." width="400" height="300"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18..." width="400" height="300"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18..." width="400" height="300"></iframe>

    <br><a href="../index.html" class="btn-normal btn">Volver</a>

    <footer style="text-align:center; margin-top:40px; color:#555;">
        Desarrollado por Magali Gonzalez
    </footer>
</body>
</html>
